.focus.btn-default,
.btn-default:focus {
    background-color: #800 !important;
    color: #fff !important;
}

.btn-default,
.btn-default {
    background-color: #800 !important;
    color: #fff !important;
}

th {
    background-color: #c51121;
    color: #fff;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    text-align: center !important;
}

.pagination {
    padding-left: 420px !important;
}

.paginate_button,
.active > a {
    background-color: #df1d24 !important;
}

.btn-register-menu {
    border-color: #800000 !important;
}

a:hover {
    background-color: transparent !important;
    color: #fff !important;
}
/*th { width: 30% !important; }*/
.Firsttd {
    width: 30% !important;
    border-right: 0px solid black;
}

.Secondtd {
    width: 30% !important;
    text-align: left !important;
    margin-left: 10px;
}
/*@media only screen and (max-width: 736px),(min-device-width: 414px)  */
@media (max-width: 736px) and (min-width: 414px) {
    tbody > tr > td {
        padding: 17px 0px !important;
        padding-top: 17px !important;
        padding-right: 0px !important;
        padding-bottom: 17px !important;
        padding-left: 0px !important;
    }

    #sit_promocode {
        width: 46px !important;
    }
}

@media (min-width: 737px) {
    #sit_promocode {
        width: 250px !important;
    }
}

.banner > img {
    height: 240px;
}

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.8;
}

#mydiv1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.8;
}

.ajax-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -145px 0px 0px -220px;
}

.preload {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.lock {
    overflow: hidden;
    touch-action: none;
}

.sort-enabled > a {
    font-weight: 400 !important;
    font-size: 15px !important;
    color: #000 !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.table-custom th,
.table-custom td {
    font-weight: 400;
    font-size: 15px;
}

.table-custom th {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.table-custom td {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
/* The Modal (background) */
.modalNew {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto; /*padding: 20px;*/
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.btn-register-menu:hover {
    background: #800 !important;
}
/* TeBS CR1231 Changes - Remove Execution Paticipant Limit Start */
.ajax-loader-text {
    position: relative;
    text-align: center;
    top: calc(50% - 200px);
}
/* TeBS CR1231 Changes - Remove Execution Paticipant Limit End */